body {
  display: flex;
  justify-content: center;
}

.App {
  border: 1px solid black;
  width: 350px;
  height: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  width: 95%;
}

input:focus {
  outline: none;
}

.hr {
  border-bottom: 1px solid #9da7b6;
  margin-top: 8px;
  margin-bottom: 6px;
}
